<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <appSettings>
    <add key="TEXT_MAIN_NAME" value="Ghép hình"/>
    <add key="TEXT_SERVER" value="Chủ"/>
    <add key="TEXT_CLIENT" value="Khách"/>
    <add key="TEXT_GRP_OPTION" value="Lựa chọn cấu hình"/>
    <add key="TEXT_COL" value="Số cột"/>
    <add key="TEXT_ROW" value="Số hàng"/>
    <add key="TEXT_BTN_START" value="Trò chơi mới"/>
    <add key="TEXT_HELP" value="Giúp đỡ"/>
    <add key="TEXT_GRP_MAIN" value="Main"/>
    <add key="TEXT_REMOTE_NAME" value="Điều khiển"/>
    <add key="TEXT_GRP_PIECES" value="Pieces"/>
    <add key="TEXT_GRP_SELECT_PIECE" value="Select piece"/>
    <add key="TEXT_GRP_CONTROL" value="Control"/>
    <add key="TEXT_CHOOSE_NAME" value="Chọn chủ hay khách"/>
    <add key="TEXT_SERVER_OR_CLIENT" value="Bạn muốn làm chủ hay khách?"/>
    <add key="TEXT_INPUT_NAME" value="Nhập thông tin"/>
    <add key="TEXT_SERVER_IP" value="IP Máy chủ:"/>
    <add key="TEXT_CLIENT_NAME" value="Tên khách:"/>

    <add key="NUM_COL" value="4"/>
    <add key="NUM_ROW" value="4"/>
  </appSettings>
  
</configuration>